body {
  font-family: "Open Sans", sans-serif;
}

.getPikachu {
  text-align: center;
}

#showPikachu {
  display: flex;
  justify-content: center;
}

.pokemon-card {
  text-align: center;
  width: fit-content;
  height: fit-content;
  border: 2px solid #ebf301;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fbd900;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

#get-pikachu {
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: #fbd900;
  border-radius: 10px;
  margin: 20px;
}

#get-pikachu:hover {
  background-color: #fbc000;
}
